body {
    background-image: url(images/bg.jpg);
    margin: 0;
    height: fit-content;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Playfair Display', serif;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 60px calc(50% - 700px);
    margin-top: -70px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    position: sticky;
    background: rgba(0, 0, 0, 0);
    top: 0;
    z-index: 5;
    align-self: center;
}

.header_scrolled {
  background: black;
}

header a {
    color: burlywood;
    line-height: 50px;
    text-decoration: none;
    font-size: 28px;
}

header a:hover {
  color: cyan;
  font-size: 32px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.header__logo {
  position: relative;
  margin-bottom: 30px;
}

.header__logo svg {
    width: 35px;
    height: 35px;
    fill:burlywood;
}

.header__logo:hover svg {
    height: 45px;
    width: 45px;
    fill: cyan;
    transition: all 0.3s ease-in;
    cursor: pointer;
    animation: none;
}

h1 {
    color:cadetblue;
    font-size: 40px;
    text-align: center;
}

p {
    color: cadetblue;
    font-size: 26px;
    text-align: justify;
}
.section__bio {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 20px;
    flex-wrap: wrap;
}

.section__songs {
    display: flex;
    justify-content: left;
    text-align: left;
    padding: 50px;
    flex-direction: column;
}

.section__video {
    padding: 80px;
}

.section__video p {
    font-size: 50px;
}

footer {
    display: flex;
    justify-content: center;
}

.footer__email svg {
    height: 35px;
    width: 35px;
    fill:burlywood;
}

.footer__email svg:hover {
    height: 45px;
    width: 45px;
    fill: cyan;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.guitar {
  width: fit-content;
  height: fit-content;
}

.guitar svg {
  height: 100px;
  width: 100px;
  fill:darkorchid;
}

.guitar:hover svg {
  animation-name: rotation-and-scale;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes rotation-and-scale {
  0% {transform: rotate(0) scale(1);
    }
  25% {transform: rotate(60deg) scale(1.5);
    }
  50% {transform: rotate(-60deg) scale(2);
    }
  75% {transform: rotate(30deg) scale(1.5);
    }
  100% {transform: rotate(0deg) scale(1);
    }
}

.no-anim svg {
  position: absolute;
}

.anim svg {
  z-index: 1;
  position:absolute;
  animation-name: double-fadeOut;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes double-fadeOut {
  0% {opacity: 1;
    transform: translate(0);}
  25% {opacity: 0.8;
    transform: translate(25px, -25px);}
  50% {opacity: 0.5;
    transform: translate(35px, -35px);}
  100% {opacity: 0;
    transform: translate(40px, -40px);}
}

.slider__wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.slider__items {
  margin-top: 20px;
  width: 80vw;
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  min-width: 700px;
}

.slider__item {
  z-index: 0;
  position: absolute;
  left: 10000px;
  height: 400px;
}

.active {
  position: absolute;
  z-index: 3;
  height: 400px;
}

.next, .prev {
  position: absolute;
  z-index: 2;
  height: 400px;
}

.slider__item:not(.active) {
  filter: blur(5px);
}

.section__songs__tracks {
  width: 30%;
}

.section__songs__tracks p {
  font-size: 20px;
}

.section__songs__audio-track {
  width: 100%;
  height: 6px;
  background-color: burlywood;
  margin: 20px 0;
}

.section__songs__time {
  width: 0;
  height: 6px;
  background-color: cyan;
}

.section__songs button {
  background-color: burlywood;
  color: cadetblue;
  font-size: 20px;
  border-radius: 20px;
}

.section__songs button:hover {
  background-color: cyan;
  cursor: pointer;
  box-shadow: 5px 2px 10px burlywood;
  transition: all 0.3s ease-in;
}

#section__songs__controls {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section__songs_wrapper {
  display: flex;
}

.section__songs__buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.section__songs__tracks p:hover {
  color: cyan;
  cursor: pointer;
  transition: all 0.5s ease;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: burlywood;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot__active, .dot:hover {
  background-color: cyan;
}

.slide__prev, .slide__next {
  cursor: pointer;
  position: absolute;
  top: 184px;
  width: auto;
  padding: 16px;
  color: burlywood;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
}

.slide__next {
  right: 5%;
}

.slide__prev {
  left: 5%;
}

.slide__prev:hover, .slide__next:hover {
  color: cyan;
}